div {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: #5EDfff;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #5EDfff;
  font-weight: normal;
  margin-top: 0;
padding-bottom: 10px;
}

h3 {
  font-family: 'Overpass Mono', monospace;
  color: #5EDfff;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

hr {

  border-style: none;
border-top: dotted 10px;
  width: 5%;
color:grey;
margin: 100px auto;
}

p {
    line-height: 2;
}

a {
  color:#11999E;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #B6FFEA;
  position: relative;
  padding-top: 100px;
  line-height: 0;

}

.middle-container {
  margin: 100px 0;
}

.profile {
  border-radius: 50%;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 70px;
}

.gif-one {
  border-radius: 20%;
}

.title {
  font-size: 2.5rem;
}



.intro {
  width: 30%;
  margin: auto;
}

.skill-row1 {
  margin-bottom: 100px;

}
.skill-row2 {
  margin: 100px auto 100px auto;
    line-height: 2;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.button {
  background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}

.button:hover {
  background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
}
.lastline {
  color:white;
  font-size: 0.75rem;
  padding: 20px 0;
}


.get-in-touch {
  width: 40%;
  margin: 40px auto 40px;
}
